/*Mise en place des polices*/

@font-face {
    font-family: "harry_font";
    src: url(font/HARRYP__.TTF);
  }

@font-face {
    font-family: "lumos";
    src: url(font/Wizard.ttf);
  }

  /*Animations*/
@keyframes title {
    0%   {font-size: 130px;}
    50% {font-size: 160px;}
    100% {font-size: 130px;}
  }
@keyframes title2 {
    0%   {font-size: 75px;}
    50% {font-size: 95px;}
    100% {font-size: 75px;}
  }
/*Mise en page des éléments principaux du site*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

body {
    background-color: burlywood;
}
nav{
    background-color: rgb(33, 33, 33);
    font-variant: small-caps;
    font-size: 1.3em;
    display: flex;
    min-height: 10vh;
    padding: 1rem;
    margin: auto;
}
nav ul{
    display: flex;
    flex: 1 1 40rem;
    align-items: center;
    justify-content: end;
}
li a{
    padding: 20px;
    color: azure;
}
li a:hover{
    color: rgb(188, 163, 37);
}
li a:active{
    color: #e73a14;
}
#search{
    align-content: center;
    margin-left: 1%;
}
.search{
    color:black;
    height: 100%;
    width: 140%;
    font-size: 20px;
}
h1{
    font-size: 130px;
    text-align: center;
    font-family: "harry_font", sans-serif;
    color:  #f0df42;
    word-wrap: break-word;
    animation-name: title;
    animation-duration: 6s;
    animation-iteration-count: infinite;
}
h2 {
    text-align: center;
    font-variant: small-caps;
    font-family: "lumos", sans-serif;
    color:  #b3a634;
    font-size: 3em;
}
h3{
    font-variant: small-caps;
    font-family: "lumos", sans-serif;
    color:  #000000;
    font-size: 2em;
}
h4{
    font-family: "Courier New", sans-serif;
    color:  #000000;
    font-size: 1.5em;
}
.titre{
    background-image: url(images/wall.webp);
    background-position: 60%;
    display: inline-block;
	vertical-align: top;
    height: 500px;
    align-content: center;
    width: 100%;
}
.info{
    display: flex;
    justify-content: center;
    background-image: url(images/fond1.png);
    background-position: 20%;
}
.special_card{
    width: 33%;
}
.special_card img{
    height: 500px;
    width: 60%;
    margin-left: 20%;
}
.special_card h3{
    color: #17e825;
    text-align: center;
    width: 100%;
}
.card{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
}
.simple_card{
    display: flex;
    width: 50%;
    height: 500px;
    margin-top: 2%;
    justify-content: flex-start;
}
.simple_card2{
    justify-content: end;
    flex-direction: row-reverse;
    display: flex;
    width: 50%;
    margin-top: 2%;
    height: 500px;
}
section img{
    height: 400px;
}
.info_carte{
    color: #e73a14;
    background-color: #f0df42;
    border-left: 7px #9b902d solid;
    border-radius: 10px 0px 0px 10px;
    margin: 10%;
}
.info_carte:hover{
    color: rgb(168, 34, 194);
}
.info_carte:active{
    color: azure;
}
.info_carte2{
    color: #e73a14;
    background-color: #f0df42;
    border-right: 7px #9b902d solid;
    border-radius: 0px 10px 10px 0px;
    margin: 10%;
}
.info_carte2:hover{
    color: rgb(168, 34, 194);
}
.info_carte2:active{
    color: azure;
}
footer{
    background-color: rgb(163, 101, 30);
    display: flex;
    justify-content: space-between;
}
.pay{
    color: #000000;
    background-color: #941d1b;
    border-radius: 10px;
    margin: 10%;
}
.pay:hover{
    color: rgb(203, 203, 203);
}
.pay:active{
    color: rgb(137, 127, 41);
}
.footer_logo{
    margin-top: 2%;
}
.easter_egg{
    color:#000000;
}
.house{
    color: #1450e7;
}
.troll{
    align-content: center;
    background-color: #000000;
}
.prix{
    color: green;
}
.reduc{
    color: #154324;
    font-size: 0.9em;
}
/*Responsive*/
@media screen and (max-width: 800px) {
    *{
        width: 100%;
    }

    h1{
        font-size: 65px;
        animation-name: title2;
        animation-duration: 6s;
        animation-iteration-count: infinite;
    }
    h2{
        font-size: 2em;
    }
    h3{
        font-size: 1.5em;
    }
    h4{
        font-size: 1em;
    }
    nav{
        background-color: rgb(33, 33, 33);
        font-variant: small-caps;
        font-size: 0.9em;
        display: flex;
        min-height: 6vh;
        padding: 0.5rem;
    }
    .search{
        color:black;
        height: 50%;
        width: 100%;
        font-size: 10px;
    }
    nav img{
        width: 100px;
        height: 50px;
    }
    .card{
        width: 100%;
        display: inline-block;
    }
    .simple_card{
        width: 100%;
        display: inline-block;
	    vertical-align: top;
        align-content: center;
        height: 100%;
    }
    .simple_card2{
        width: 100%;
        display: inline-block;
	    vertical-align: top;
        align-content: center;
        height: 100%;
    }
    section img{
        width: 60%;
    }
    .info_carte{
        color: #e73a14;
        background-color: #f0df42;
        border-left: 7px #9b902d solid;
        border-right: 7px #9b902d solid;
        border-radius: 10px;
        margin: 10%;
    }
    .info_carte2{
        color: #e73a14;
        background-color: #f0df42;
        border-right: 7px #9b902d solid;
        border-left: 7px #9b902d solid;
        border-radius: 10px;
        margin: 10%;
    }
    .info{
        display: inline-block;
        align-content: center;
        background-image: url(images/fond1.png);
        background-position: 20%;
    }
    .special_card{
        width: 100%;
        margin-bottom: 2%;
    }
    .special_card img{
        height: 500px;
    }
    .special_card h3{
        color: #17e825;
        text-align: center;
        width: 100%;
    }
    .footer_logo{
        width: 20%;
    }
}